/* Sección Título */
.title-container {
    text-align: center;
    color: rgb(40, 85, 107, 100);
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
}

/* Sección Menú */

.menu-container {
    text-align: center;
}

/* Reset y centrar*/
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

/* distancia entre los 3*/
li {
    margin-inline: 90px;
}

/* reset y la fuente, tamaño y estilo*/
li a {
    text-decoration: none;
    color: rgb(40, 85, 107, 100);
    font-family: monospace;
    font-style: normal;
    font-size: 20px;
}

/* interacción con el mouse*/
li a:hover {
    color: rgb(199, 166, 127, 100);
}

/* Sección Contenido de las fotos */

/* flex-container para apdartarlo a 3 columnas y gap entre cada div*/
.flex-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 90px;
    padding: 50px;
    justify-content: center;
}


/* Hover */

.efect {
    position: relative;
    overflow: hidden;
    transition: transform 1s ease;
    margin: 10px;
}

/* adaptacion de la imagen y la transition*/
.efect img {
    width: 100%;
    height: auto;
    transition: transform 1s ease;
}

/* interación con el mouse*/
.efect:hover img {
    transform: scale(1.1);
}


/* contenido  al hacer la interacción*/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color 1s ease, opacity 1s ease;

}

/* color del contenido al hacer la interación entre el efect y el overlay*/
.efect:hover .overlay {
    background-color: rgba(30, 144, 255, 0.7);
    opacity: 1;
    top: 0;
    left: 0;
}

/* fuente, color y transition del titulo, texto y el botton*/
.title, .description, .read-more {
    opacity: 0;
    color: white;
    margin-block:5px;
    font-family: monospace;
}

/* texto centrado y de un tamaño de 19px*/
.description{
    text-align: center;
    font-size: 19px;
}

/* transtion y el margin del contenido*/
.efect:hover .title, .efect:hover .description, .efect:hover .read-more {
    opacity: 1;
    transition: opacity 1s ease;
    margin: 10px;
}

/* header del overlay*/
.title {
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    position: top;
}
/* botton readme*/
.read-more {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

/* adaptación hasta  700px*/
@media only screen and (max-width: 700px) {
    .flex-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        padding: 20px;
    }
    .description {
        margin-block:5px;
        font-size: 20px;
    }
    .title {
        font-size: 30px;
    }
}

/* adaptación hasta  entre 701px y 1200px*/
@media only screen and (min-width: 701px) and (max-width: 1200px) {
    .flex-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 5px;
    }
    .description {
        margin-block:5px;
        font-size: 15px;
    }
    .title {
        font-size: 25px;
    }
}
